# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.pyi

# Virtuelle Umgebungen
.venv/
venv/
env/
.env

# Output-Verzeichnis
output/

# Mediendateien
*.mp4
*.webm
*.jpg
*.png
*.mkv
*.avi

# IDEs
.idea/
.vscode/
*.swp
*.swo
